.home {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(185, 189, 189);
    height: 100vh;
    background-image: url(./images/merakist-CNbRsQj8mHQ-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.82;
    /* margin-top: 100px; */
    position: relative;
}


/* .home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); */


/* Adjust the color and opacity as desired opacity: 0.5; */


/* Adjust the overlay opacity as desired */


/* } */

h1 {
    text-align: center;
    color: rgb(15, 15, 122);
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    transform: skew(-10deg);
    font-weight: bold;
    text-shadow: shadow;
    margin-top: 20px;
}

button {
    width: 100px;
    justify-content: center;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgb(15, 12, 12);
    border-radius: 15px;
    color: black;
}

.home>.image {
    width: 80%;
    margin: 20px;
    height: 50vh;
}


/* .animated image {
    width: 60%;
    margin: 20px;
    height: 20vh;
}

.animated image image {
    width: 80%;
    margin: 20px;
    height: 50vh;
} */