/*login page styles*/

.login {
    display: flex;
    justify-content: center;
    margin: none;
    height: 90vh;
    background-color: rgb(208, 210, 211);
}

.form3 {
    margin-top: 50px;
    height: 100%;
    width: 40%;
}

.login-item {
    display: flex;
    flex-direction: column;
    background-color: rgb(162, 167, 167);
    height: 400px;
    width: 550px;
    padding: 20px;
    gap: 15px;
    font-family: serif;
    border-radius: 15px;
    font-size: larger;
    font-weight: 200;
    text-align: center;
}

.login-item input {
    height: 35px;
    font-size: large;
}

.login-item button {
    border-radius: 15px;
}