            .post {
                display: flex;
                flex-direction: column;
                justify-content: start;
                height: 100%;
                background-color: rgb(233, 238, 245);
            }
            
            .postitems {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;
                height: 80vh;
                /* padding-left: 10px; */
                gap: 10px;
                /* padding-top: 10px; */
            }