.mainform {
    display: flex;
    justify-content: center;
    background-color: rgb(184, 191, 197);
    gap: 10px;
    /* margin: none; */
    height: 80%;
    width: 60% auto;
    margin-top: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-size: large;
    background-color: rgb(162, 167, 167);
    border-radius: 15px;
    width: 40%;
    height: 50%;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.form input {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    margin: 8px;
    text-align: start;
    align-items: center;
    width: 350px;
    border-radius: 15px;
    height: 30px;
}

.form button {
    padding: 8px;
    margin: 10px;
}