        .icons {
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 100px;
            border-top: 1px solid black;
            width: 60vw;
        }
        
        .icons1 {
            gap: 10px;
        }
        
        .delIcon {
            color: rgb(15, 15, 15);
            display: flex;
            flex-direction: row;
        }
        
        .delIcon:hover {
            color: rgb(231, 105, 105);
            cursor: pointer;
        }
        
        .card {
            min-width: 180px;
            margin: 20px;
            display: flex;
            box-shadow: inset 0 0 10px #000000;
            flex-direction: column;
            align-items: center;
            /* height: 20px; */
            gap: 20px;
            padding-inline: 10px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }
        
        .todo_wrapper {
            display: flex;
            height: 150px;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }